Infraestructuras/.terraform/
Infraestructura/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.48.0/linux_amd64/terraform-provider-azurerm_v2.48.0_x5
Infraestructura/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.108.0/linux_amd64/terraform-provider-azurerm_v3.108.0_x5